<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .head {
            height: 180px;
            margin:10px 0 10px 0;
            border: 1px solid gray;
            text-align:center;
        }
        
        .head h2 {
            font-size: 3em;
        }

        .main {
            column-count: 3;
        }

        .foot {
            height: 100px;
            margin:10px 0 10px 0;
            border: 1px solid gray;
            text-align:center;
            font-style: italic;
            font-size: 2em;
        }

        div>div {
            height: 200px;
            margin: 10px;
            border: 1px solid gray;
        }
    </style>


</head>

<body>

    <div class="head">
        <h2>Header</h2>
    </div>

    <div class="main">

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt necessitatibus, mollitia a saepe molestiae dolorem
            impedit repellendus debitis perspiciatis maiores quaerat, at consequuntur exercitationem. Ratione veritatis ipsam
            ipsum esse expedita similique quae delectus, debitis facere, odit consequuntur. Nisi vitae, quo quisquam dolor
            eos vel reprehenderit magnam nesciunt laborum fugit voluptatibus porro blanditiis autem similique ipsum totam
            fuga, consequatur nulla accusantium, voluptas harum expedita repellat animi illum. Labore eaque corporis placeat
            harum ut architecto impedit, eveniet, repellat, modi ex hic non? Iure quisquam, laborum quas numquam nobis veniam
            doloremque, maxime fugiat minus, blanditiis distinctio ex ea totam debitis eius fugit odit pariatur dolorem cumque
            eligendi officia quasi! Aliquam ab dolore amet rerum quidem laudantium commodi consequatur, officia sapiente
            cum odio blanditiis, reprehenderit pariatur voluptatibus ipsam expedita aperiam minima sit, recusandae necessitatibus
            laboriosam! Obcaecati eveniet odit qui earum perferendis perspiciatis dolor cum porro cumque! Autem necessitatibus
            cupiditate placeat et, aspernatur quidem.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt necessitatibus, mollitia a saepe molestiae dolorem
            impedit repellendus debitis perspiciatis maiores quaerat, at consequuntur exercitationem. Ratione veritatis ipsam
            ipsum esse expedita similique quae delectus, debitis facere, odit consequuntur. Nisi vitae, quo quisquam dolor
            eos vel reprehenderit magnam nesciunt laborum fugit voluptatibus porro blanditiis autem similique ipsum totam
            fuga, consequatur nulla accusantium, voluptas harum expedita repellat animi illum. Labore eaque corporis placeat
            harum ut architecto impedit, eveniet, repellat, modi ex hic non? Iure quisquam, laborum quas numquam nobis veniam
            doloremque, maxime fugiat minus, blanditiis distinctio ex ea totam debitis eius fugit odit pariatur dolorem cumque
            eligendi officia quasi! Aliquam ab dolore amet rerum quidem laudantium commodi consequatur, officia sapiente
            cum odio blanditiis, reprehenderit pariatur voluptatibus ipsam expedita aperiam minima sit, recusandae necessitatibus
            laboriosam! Obcaecati eveniet odit qui earum perferendis perspiciatis dolor cum porro cumque! Autem necessitatibus
            cupiditate placeat et, aspernatur quidem.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi nesciunt necessitatibus, mollitia a saepe molestiae dolorem
            impedit repellendus debitis perspiciatis maiores quaerat, at consequuntur exercitationem. Ratione veritatis ipsam
            ipsum esse expedita similique quae delectus, debitis facere, odit consequuntur. Nisi vitae, quo quisquam dolor
            eos vel reprehenderit magnam nesciunt laborum fugit voluptatibus porro blanditiis autem similique ipsum totam
            fuga, consequatur nulla accusantium, voluptas harum expedita repellat animi illum. Labore eaque corporis placeat
            harum ut architecto impedit, eveniet, repellat, modi ex hic non? Iure quisquam, laborum quas numquam nobis veniam
            doloremque, maxime fugiat minus, blanditiis distinctio ex ea totam debitis eius fugit odit pariatur dolorem cumque
            eligendi officia quasi! Aliquam ab dolore amet rerum quidem laudantium commodi consequatur, officia sapiente
            cum odio blanditiis, reprehenderit pariatur voluptatibus ipsam expedita aperiam minima sit, recusandae necessitatibus
            laboriosam! Obcaecati eveniet odit qui earum perferendis perspiciatis dolor cum porro cumque! Autem necessitatibus
            cupiditate placeat et, aspernatur quidem.
        </p>

    </div>

    <div class="foot">
        Footer
    </div>

</body>

</html>
