<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        main {
            margin: 0 auto;
            width: 600px;
        }

        img {
            margin: 0 8px 8px 0;
        }

        p>img:first-child {
            float: right;
        }

        p>img:last-child {
            float: left;
        }
    </style>

</head>

<body>

    <main>

        <p>
            <img src="pocoo.png"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, qui incidunt et ea culpa fuga vitae nemo officiis
            dicta blanditiis ducimus totam saepe necessitatibus recusandae autem sed magni quos exercitationem. Officiis
            dolore ullam reprehenderit inventore reiciendis nostrum recusandae necessitatibus accusamus distinctio ex est
            sit quos sunt, quibusdam maiores magni quaerat sed quis ipsum! Quis voluptatibus sed dolorum eum ratione vero
            quia hic nihil quae, debitis libero tempora, voluptatum excepturi? Sit tempore iste qui, fugit non distinctio
            assumenda maiores. Dolores nihil minima nemo. Dolores iure, itaque quibusdam ad eaque in cumque velit? Doloremque
            culpa laudantium accusamus saepe eaque itaque enim quas error, corrupti explicabo consequuntur et non dolor omnis
            cupiditate perspiciatis laborum dolores, repellat impedit nesciunt necessitatibus, maxime aliquam! Vel reiciendis
            enim fugiat at a ipsa explicabo et ea? Cum excepturi consequatur suscipit ratione eos ut ipsam, unde incidunt
            eligendi minus distinctio aliquid hic, fugit a natus tempora libero consectetur odit! Eaque ullam deserunt dolores
            a eveniet quos, laboriosam aspernatur deleniti distinctio quisquam obcaecati atque? Assumenda ipsam, aliquam
            quae doloremque laudantium repellendus sapiente beatae, tempore pariatur minima commodi similique? Amet quis,
            suscipit neque voluptatum officiis dolor earum accusamus aspernatur nam veniam corrupti repellat ad minus alias
            <img src="pocoo.png"> beatae modi consequatur consequuntur odit laborum at? Nobis exercitationem nulla vel dolor obcaecati, fugit
            unde ratione quo quaerat non reiciendis? Iusto nihil odit delectus explicabo laborum eligendi, in amet repellendus
            dolores molestiae ducimus, exercitationem corrupti quod asperiores dignissimos labore dolor ex. Nam ipsum, ad
            eius magnam itaque veritatis quis consectetur saepe perferendis, ut alias laudantium. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Corrupti velit dolores nulla pariatur quos doloribus at, veniam laborum ducimus
            neque molestiae id in? Fugiat dolorem accusamus fuga! Iusto, vitae voluptas.

        </p>

    </main>

</body>

</html>
